#category {
    border-radius: 5px;
    background-color: #ededed;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #666;
}
#category>ul>li>a {
    height: 40px;
    background:url('http://www.zuyushop.com/wap/images/arrow1.gif') right center no-repeat;
    line-height: 40px;
    font-size: 16px;
    color: #000;
    display: block;
    padding-left: 16px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}
.category-content {
    background-color: #f9f9f9;
}
.category-content li {
    float: left;
    width: 33.3%;
    height: 40px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
}
.category-content li a {
    display: block;
    width: 100%;
    color: #333;
}
.category-content {
    display: none;
    transition: all 1s;
}
.category-content.active {
    display: block;

}