
.mm_header {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    height: 44px;
    background-color: #f4483e;
}
.icon-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 44px;
    background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='1.5em' height='1.5em'><path fill='#FFFFFF' d='M818.881422 747.988622 755.734756 812 313.503289 363.943111 313.480533 363.965867 250.311111 299.931733 755.734756-212.113778 818.881422-148.1024 376.672711 299.954489Z' transform='translate(0, 812) scale(1, -1)'/></svg>") center center no-repeat ;
}
.mm_header h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    line-height: 44px;
}
.mm_appdown {
    position: absolute;
    right: 0;
    top: 0;
}

.nav {
padding: 10px 0px;
}
.nav ul li {
    width: 118px;
    float: left;
    margin: 0;
    padding: 0;
    border: 1px solid #eeeeee;
    display: block;
    height: 75px;
    margin-top: 5px;
    margin-left: 5px;
    overflow: hidden;
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
}
.nav ul li a {
    color: #000;
}
.nav ul li a img {
    max-height: 50px;
    width: 50px;
    vertical-align: middle;
    margin: 0 auto;
}
