.mm_header {
  height: 44px;
  line-height: 44px;
  position: relative;
}
.mm_header .icon-back {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='1.5em' height='1.5em'><path fill='#FFFFFF' d='M818.881422 747.988622 755.734756 812 313.503289 363.943111 313.480533 363.965867 250.311111 299.931733 755.734756-212.113778 818.881422-148.1024 376.672711 299.954489Z' transform='translate(0, 812) scale(1, -1)'/></svg>");
  width: 44px;
  height: 44px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  float: left;
}
.mm_header h3 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 0 44px 0 44px;
}
.mm_header .mm_appdown {
  position: absolute;
  top: 0;
  right: 0;
}
.nav {
  position: relative;
}
.nav .firNav {
  padding-right: 42px;
  border-bottom: 1px solid #dadada;
}
.nav .firNav li {
  float: left;
  font-size: 16px;
  line-height: 37px;
  width: 33%;
  text-align: center;
  position: relative;
}
.nav .firNav li a {
  color: black;
  display: inline-block;
}
.nav .firNav li i {
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  margin-left: 10px;
  margin-top: -5px;
}
.nav .secNav,
.nav .thirNav,
.nav .forNav {
  width: 100%;
  display: none;
  position: fixed;
  background-color: white;
  z-index: 999;
  box-shadow: 0px 3px 6px #dddddd;
}
.nav .secNav.active,
.nav .thirNav.active,
.nav .forNav.active {
  display: block;
}
.nav .secNav li,
.nav .thirNav li,
.nav .forNav li {
  border-bottom: 1px solid #dadada;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 16px;
  position: relative;
}
.nav .secNav li:last-child,
.nav .thirNav li:last-child,
.nav .forNav li:last-child {
  border-bottom: none;
}
.nav .secNav li a,
.nav .thirNav li a,
.nav .forNav li a {
  display: block;
  color: black;
}
.nav .secNav li i,
.nav .thirNav li i,
.nav .forNav li i {
  width: 37px;
  height: 37px;
  position: absolute;
  right: 0;
  top: 0;
}
.nav .secNav li i.active,
.nav .thirNav li i.active,
.nav .forNav li i.active {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='20' height='20'><path fill='#ff4400' d='M959.94666 564.447904 899.86426 624.530304 370.356514 95.046095 124.134717 341.268916 64.052317 281.187539 361.641015-16.402183 370.051569-24.529281 379.068943-16.402183Z' transform='translate(0, 812) scale(1, -1)'/></svg>");
  background-repeat: no-repeat;
  background-position: center 5px;
}
.nav .search {
  border-left: 1px solid #ccc;
  width: 40px;
  height: 37px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='17' height='17'><path fill='#565656' d='M978.261333 430.321067c0 157.2864-127.488 284.808533-284.8768 284.808533-157.218133 0-284.706133-127.488-284.706133-284.808533s127.488-284.7744 284.706133-284.7744c22.254933 0 43.793067 2.798933 64.648533 7.68l63.2832-192.136533c3.208533-9.352533 14.916267-14.062933 26.248533-10.410667 11.298133 3.720533 17.8176 14.5408 14.848 23.8592l-63.249067 191.488C904.055467 208.078933 978.261333 310.4448 978.261333 430.321067zM693.384533 184.834133c-135.5776 0-245.384533 109.909333-245.384533 245.521067 0 135.611733 109.943467 245.486933 245.384533 245.486933 135.68 0 245.521067-109.909333 245.521067-245.486933C938.939733 294.7776 829.064533 184.834133 693.384533 184.834133zM366.4896 683.863467l-18.261333 0L98.6112 683.863467c-12.049067 0-21.8112-9.762133-21.8112-21.777067 0-12.049067 9.762133-21.8112 21.8112-21.8112l249.617067 0 5.461333 0c9.147733 15.189333 19.114667 29.832533 30.139733 43.588267L366.4896 683.863467zM297.7792 457.866667 277.6064 457.866667 98.6112 457.866667c-12.049067 0-21.8112-9.762133-21.8112-21.777067 0-12.0832 9.762133-21.8112 21.8112-21.8112l176.708267 0c0 0 0 0 0 0.034133l22.459733 0c-0.4096 7.236267-1.092267 14.404267-1.092267 21.777067S297.3696 450.6304 297.7792 457.866667zM348.2624 231.869867 326.3488 231.869867 98.6112 231.869867c-12.049067 0-21.8112-9.659733-21.8112-21.8112 0-12.0832 9.762133-21.742933 21.8112-21.742933l249.617067 0 5.973333 0 12.288 0 17.339733 0c-11.025067 13.755733-20.923733 28.3648-30.071467 43.52L348.2624 231.835733zM605.3888 5.975467l-127.0784 0-122.538667 0L337.544533 5.975467 87.927467 5.975467c-12.049067 0-21.8112-9.762133-21.8112-21.845333 0-12.0832 9.762133-21.879467 21.8112-21.879467l249.617067 0 18.261333 0 122.538667 0 127.044267 0 78.711467 0-16.0768 43.6224L605.3888 5.975467z' transform='translate(0, 812) scale(1, -1)'/></svg>");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;
}
.pro_box {
  background-color: #f1f1f1;
  padding: 0px 4px;
}
.pro_box li {
  float: left;
  width: 50%;
}
.pro_box li a {
  display: block;
  margin: 4px;
  background-color: white;
  padding: 10px;
}
.pro_box li a img {
  width: 174px;
  height: 174px;
  margin: 0 auto;
}
.pro_box li a p:nth-child(2) {
  overflow: hidden;
  width: 100%;
  height: 14px;
  line-height: 14px;
  padding: 0 4px;
  color: #000;
  margin: 5px 0px;
}
.pro_box li a p:nth-child(3) {
  clear: both;
  overflow: hidden;
}
.pro_box li a p:nth-child(3) span:nth-child(1) {
  float: left;
  font-size: 20px;
  color: #f8601d;
  padding: 0px 4px;
}
.pro_box li a p:nth-child(3) span:nth-child(2) {
  float: right;
  width: 65px;
  height: 28px;
  line-height: 28px;
  background-color: #ff9501;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}
